<div class="sm:flex items-center max-w-screen-xl sm:mt-10" id="about">
    <div class="sm:w-1/2 p-10">
        <div class="image object-center text-center">
            <img src="/about.svg" alt="Three in a wall">
        </div>
    </div>
    <div class="sm:w-1/2 p-5">
        <div class="text">
            <span class="text-Opal font-bold text-3xl border-Opal">¿Quiénes Somos?</span>
            <h2 class="my-4 font-bold text-3xl  sm:text-4xl "> <span class="text-indigo-600">Su <span class="text-Salmon">MEJÓR</span> Opción en Maquillaje</span>
            </h2>
            <p class="text-gray-700 font-light">
                Descubre la magia de Lynath, tu universo de belleza personalizado con una amplia gama de productos de alta calidad, cuidadosamente seleccionados para realzar tu belleza natural.
            </p>
        </div>
    </div>
</div>