---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<section class="sm:mt-20" id="home">
  <div
    class="container mx-auto flex flex-col items-center text-center md:py-20 md:px-10 lg:px-20 xl:max-w-3xl sm:mt-10"
  >
    <h1 class="text-4xl font-bold leading-none sm:text-5xl">
      Espéralo
      <span class="text-Apricot">Próximamente </span>
    </h1>
    <p class="px-8 mt-8 text-lg">Los <span class="font-bold text-Salmon">mejóres</span> en productos de belleza</p>
    <!-- <p class="mb-12 text-lg">Sitio Web en Construccion</p>
    <div class="container mt-0 mx-auto w-48 h-48">
      <LottieAnimation src="/building.json" loop={true} /> -->
    </div>
  </div>
</section>
