---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Nunito Sans", sans-serif;
    background: #fff;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scrollbar */
    height: 10px; /* Altura de la barra de scrollbar */
  }

  ::-webkit-scrollbar-track {
    background-color: #ddd; /* Color de fondo del carril */
    border-radius: 5px; /* Redondeo del carril */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #202A36; /* Color del botón deslizante */
    border-radius: 5px; /* Redondeo del botón deslizante */
  }

  ::-webkit-scrollbar-button {
    background-color: #fff; /* Color de los botones de flecha */
    border-radius: 5px; /* Redondeo de los botones de flecha */
  }
</style>
